<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :hours_per_week %><br>
    <%= f.number_field :hours_per_week %>
  </div>
  <div class="field">
    <%= f.label :is_internship %><br>
    <%= f.check_box :is_internship %>
  </div>
  <div class="field">
    <%= f.label :is_entry_level %><br>
    <%= f.check_box :is_entry_level %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_area :experience %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :full_time %><br>
    <%= f.check_box :full_time %>
  </div>
  <div class="field">
    <%= f.label :part_time %><br>
    <%= f.check_box :part_time %>
  </div>
  <div class="field">
    <%= f.label :how_to_apply %><br>
    <%= f.text_area :how_to_apply %>
  </div>
  <div class="field">
    <%= f.label :pay_min %><br>
    <%= f.text_field :pay_min %>
  </div>
  <div class="field">
    <%= f.label :pay_max %><br>
    <%= f.text_field :pay_max %>
  </div>
  <div class="field">
    <%= f.label :pay_exact %><br>
    <%= f.text_field :pay_exact %>
  </div>
  <div class="field">
    <%= f.label :pay_comment %><br>
    <%= f.text_area :pay_comment %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
