<% if admin_signed_in? %>
  
  <h4>Unapproved Jobs:</h4>
    
    <% @jobs.each do | job | %>
      <% if job.approved == false %>
        <div>
          <p><%= "Company: #{job.company_name} -  Job Title: #{job.title}  -  Job Type: #{job.job_type}" %></p>
          <p><%= link_to 'View and Approve', job %></p>
        </div>
      <%end%>
    <%end%>

    <br> <hr> <br>
<%end%>

<%= form_tag jobs_path, :method => 'get' do %>
  <%= label_tag(:q, "Search for Keywords") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag jobs_path, :method => 'get' do %>
  <%= label_tag(:q, "Search by Company Name") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag jobs_path, :method => 'get' do %>
  <%= label_tag(:q, "Search by Job Title") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h1>Jobs</h1>

<% @jobs.each do | job | %>
  <% if job.approved == true %>
    <div>
      <%= link_to "Company: #{job.company_name} -  Job Title: #{job.title}  -  Job Type: #{job.job_type}", job %>
    </div>
  <% end %>
<% end %>

<br>
<%= link_to 'New Job', new_job_path %>



