<%= form_tag jobs_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h1>Jobs</h1>

<% @jobs.each do | job | %>
  <% if job.approved == true %>
    <div>
      <%= link_to "Company: #{Company.find(job.company_id).name}  Job Title: #{job.title}  -  Job Type: #{job.job_type}", job %>
    </div>
  <% end %>
<% end %>

<br>
<%= link_to 'New Job', new_job_path %>



