<%= form_tag jobs_path, :method => 'get' do %>
  <%= label_tag(:q, "Search for Keywords") %><br>
  <%= text_field_tag :search, params[:searchByKeyword] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag companies_path, :method => 'get' do %>
  <%= label_tag(:q, "Search by Company Name") %><br>
  <%= text_field_tag :search, params[:searchByCompanyName] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h1>Jobs</h1>

<% @jobs.each do | job | %>
  <% if(job.approved == true && job.rejected == false) %>
    <div>
      <%= link_to "Company: #{Company.find(job.company_id).name}  Job Title: #{job.title}  -  Job Type: #{job.job_type}", job %>
    </div>
  <% end %>
<% end %>

<br>
<%= link_to 'New Job', new_job_path %>



