<p>
  <strong>Company name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job.job_type %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @job.job_location %>
</p>

<p>
  <strong>Job Status:</strong>
  <%= @job.job_status %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>Hours per week:</strong>
  <%= @job.hours_per_week %>
</p>

<p>
  <strong>Pay min:</strong>
  <%=number_to_currency(@job.pay_min, :unit => "$", :separator => ".") %>    
</p>

<p>
  <strong>Pay max:</strong>
  <%=number_to_currency(@job.pay_max, :unit => "$", :separator => ".") %>
</p>

<p>
  <strong>Pay comment:</strong>
  <%= @job.pay_comment %>
</p>

<p>
  <strong>Applicant experience:</strong>
  <%= @job.applicant_experience %>
</p>

<p>
  <strong>How to apply:</strong>
  <%= @job.how_to_apply %>
</p>
