<p class="navbar-text pull-right">
  <%= link_to 'Admin Page', admins_path %>
  <% if admin_signed_in? %>
         -  |  -    <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
         -  |  -    Logged in as <strong><%= current_admin.email %></strong>.
  <% end %>
  <%= link_to 'Company Rep Page', company_reps_path %>
  <% if company_rep_signed_in? %>
         -  |  -    <%= link_to "Logout", destroy_company_rep_session_path, method: :delete, :class => 'navbar-link'  %>
         -  |  -    Logged in as <strong><%= current_company_rep.email %></strong>.
  <% end %>
</p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<h3>User Page</h3>
<%= form_tag jobs_path, :method => 'get' do %>
  <%= label_tag(:q, "Search for Keywords") %><br>
  <%= text_field_tag :search, params[:searchByKeyword] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag companies_path, :method => 'get' do %>
  <%= label_tag(:q, "Search by Company Name") %><br>
  <%= text_field_tag :search, params[:searchByCompanyName] %>
  <%= submit_tag "Search", :name => nil %>
<% end %><br>

<%= form_tag jobs_path, :method => 'get' do %>
  <%= check_box_tag(:search_title, "true") %>
  <%= label_tag(:title_search, "Order by job title") %><br>
  <%= submit_tag "Order", :name => nil %>
<% end %><br>

<% @jobs.each do | job | %>
  <% if job.approved == true && job.rejected == false%>
    <div>
      <%= link_to "Company: #{Company.find(job.company_id).name}  Job Title: #{job.title}  -  Job Type: #{job.job_type}  Job Status: #{job.job_status}", job %>
    </div>
  <% end %>
<% end %>
