<!DOCTYPE html>
<h3>Home</h3>
<%= form_tag jobs_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:searchByKeyword] %>
  <%= submit_tag "Search", :name => nil %>
<% end %><br>

<%= select_tag(:entry_level, options_for_select([['Full Time', 1], ['Part Time', 2],
                                                ['Internship', 3], ['Temporary', 4]])) %>

<%= select_tag(:location, options_for_select([['Local', 1], ['Local/Remote', 2],
                                             ['Remote', 3]])) %>

<%= select_tag(:salary, options_for_select([['Hourly', 1], ['Salary', 2]]))%>
<br>
<br>
<div id=box>
<%= form_tag jobs_path, :method => 'get' do %>
  <%= check_box_tag(:search_title, "true") %>
  <%= label_tag(:title_search, "Order by job title") %><br>
  <%= submit_tag "Order", :name => nil %>
<% end %><br>
</div>
<% @jobs.each do | job | %>
  <% if job.approved == true && job.rejected == false%>
    <div id=approved>
      <%= link_to "Company: #{Company.find(job.company_id).name}  Job Title: #{job.title}  -  Job Type: #{job.job_type}  Job Status: #{job.job_status}", job %>
    </div>
  <% end %>
<% end %>

</html>
