<% if company_rep_signed_in? %>
  <h2>Register a New Company</h2>
  <p><%= link_to 'New Job Posting', new_company_path %></p>

  <hr>
<% if @approved_companies%>
  <%@approved_companies.each do | company | %>
    <% if company %>
      <h2>Post a Job</h2>
      <p><%= link_to 'New Job Posting', new_job_path %></p>
      <br><br>
    <% end %>
  <% end %>
<% end %>
 <br><br>
  <br><br>
  <h2>Your Unapproved Companies</h2>

  <% if @unapproved_companies %>
    <% @unapproved_companies.each do | company | %>
      <% if company %>
        <div>
          <%= link_to "Company: #{company.name}", company %>
        </div>
      <% end %>
    <% end %>
  <% end %>
 <br><br>
  <h2>Your Approved Companies</h2>
  
  <% if @approved_companies %>
    <% @approved_companies.each do | company | %>
      <% if company %>
        <div>
          <%= link_to "Company: #{company.name}", company %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <br><br>

  <h2>Your Unfilled Posts</h2>
  <% if @unfilled_posts %>
    <% @unfilled_posts.each do | post | %>
      <% if post %>
        <div>
          <%= link_to "Post: #{post.title}", post %>
          <br>
          <%= link_to 'Edit Job', edit_job_path(post) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
