<p class="navbar-text pull-right">
  <%= link_to 'Home', root_path %>
  <% if company_rep_signed_in? %>
         -  |  -    <%= link_to "Company Rep Logout", destroy_company_rep_session_path, method: :delete, :class => 'navbar-link'  %>
         -  |  -    Logged in as <strong><%= current_company_rep.email %></strong>.
  <% end %>
  </p>
  <br><hr><br>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if company_rep_signed_in? %>

  <h2>Your Unapproved Companies</h2>
  <% if @unapproved_companies %>
    <% @unapproved_companies.each do | company | %>
      <% if company %>
        <div>
          <%= link_to "Company: #{company.name}", company %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h2>Your Approved Companies</h2>
  <% if @approved_companies %>
    <% @approved_companies.each do | company | %>
      <% if company %>
        <div>
          <%= link_to "Company: #{company.name}", company %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>
