<!DOCTYPE html>
<html>
<head>
  <title>AgileClassProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="navbar-text pull-right">
  <%= link_to 'Home', root_path %>
    <% if admin_signed_in? %>
           -    <%= link_to 'Admin Page', admins_path %>
           -    <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
           <br>
           -    Logged in as <strong><%= current_admin.email %></strong>.

    <% else if company_rep_signed_in? %>
           -    <%= link_to 'Company Rep Page', company_reps_path %>
           -    <%= link_to "Logout", destroy_company_rep_session_path, method: :delete, :class => 'navbar-link'  %>
           <br>
           -    Logged in as <strong><%= current_company_rep.email %></strong>.
    <% else %>
           -    <%= link_to 'Admin Page', admins_path %>
           -    <%= link_to 'Company Rep Page', company_reps_path %>
           <br>
    <% end %>
  <% end %>
</p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
